/build/
/dist/
/.idea/
/.vscode/
/.hg/
/.jcheck/
/nbproject/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
**/.hg/**
/src/utils/LogCompilation/target/
/.project/
/.settings/
/.project
/.classpath
/.cproject
/compile_commands.json
/.cache

# to avoid version control of soft link: openjdk -> /Users/xiaofei/repo/openjdk
openjdk